<!DOCTYPE html>
<html>

<head>
    <title>Teacher Validator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Include Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        .con{
            position: relative;
        }
        .imgadd{
            position: absolute;
            z-index: -1;
            height: 150px;
            top: 0vh;
            right: 0vw;
        }
        .spacer {
            height: 15vh;
        }

        .container {
            width: 80vw;
        }
        
        #back{
            position: absolute;
            left: 12.5vw;
            top: 2vh;
        }
        .none {
            display: none;
        }
    </style>
</head>